.cell-color {
  background-color: #f0f0f0;
}

.tbody {
  display: block;
  height: 240px;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: thin solid #e1e2e3;
}
